<ul>
  <li><%= link_to "Restaurants", restaurants_path%>
    <ul>-<%= link_to "Highest Rated Restaurant", highest_rated_path%></ul>
    <ul>-<%= link_to "Most Reviewed Restaurant", most_reviewed_path%></ul>
  </li>
</ul>