<nav class="">
  <ul>
    <li><%= link_to "Sign out", logout_path, method: "destroy" %></li>
    <li><%= link_to "Sign up", signup_path %></li>
    <li><%= link_to "sign in", login_path %></li>
  </ul>
</nav>